body{margin:0;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}code{font-family:source-code-pro,Menlo,Monaco,Consolas,"Courier New",monospace}@font-face{font-family:Pixellari;src:url(../media/Pixellari.319bd0eb.ttf) format("truetype");font-weight:400}*{padding:0;margin:0;box-sizing:border-box}body{font-family:"Pixellari"}h1,h2,h3,h4,h5,h6,p{margin:0}a{text-decoration:none}a,a:hover{color:unset}.cursor-pointer{cursor:pointer}.container{padding:0 5%}main{min-height:100vh;display:flex;align-items:center;justify-content:center;background-size:cover}
.page-title{
	font-size:2.5rem;
	margin-left:-6px;
	text-align: center;
	color:white
}
.primary-text{color:white}
.blid-image{
	width:100%;
	border-radius:10px;
	object-fit:cover}
.subtitle{
	font-weight:700;
	color:white
}
.logo-holder{justify-content:end}.logo-holder,
.main-box{display:flex;align-items:center;border-radius:10px}
.main-box{
	/*background-color:#300;*/
	/*border: solid;*/
	border-color: white;
	border-style: ridge;
	width:100%;
	padding:1rem;
	max-height: 373px;
	overflow-y:auto;
	flex-direction:column;
	justify-content:right;
	min-height:373px;
	color:#fff}
.main-box-approve{
	display:flex;
	align-items:center;
	width:100%;
	padding:1rem;
	max-height: 373px;
	overflow-y:auto;
	flex-direction:column;
	color:#fff}

	button:hover{-webkit-transform:scale(1.01);transform:scale(1.01)}
.main-box-2{
	width:100%;
	padding:1rem;
	flex-direction:column;
	justify-content:right;
	min-height:200px;
	color:#fff}
.top-text{
	color:white
	}.connect-btn,
.top-text{font-size:1.3rem;font-weight:700}.connect-btn{padding:1rem 2.5rem;border-radius:10px;border:none;width:30rem}
.balance-text{font-size:1.4rem;font-weight:700}
.box-text{font-size:1.5rem;font-weight:700}
.box-btn{
	padding:0.5rem 0.9rem;
	border-radius:10px;
	border:none;
	margin-right: 5px;
	font-size:1.2rem
}
.box-btn-disconnect{display: none}
.box-btn,.nft-btn,.tab-title{font-weight:700}
.nft-picture{width:60px;border-radius:6px;border:none;margin-bottom: 1px;}
.nft-btn{
	width:60px;
	border-radius:6px;
	border:none;
	margin-bottom: 10px;
}
.nft-btn.active{background-color:#000;color:#fff;border:1px solid #fff;border-radius:10px;-webkit-transform:unset;transform:unset}
.nft-op-btn{width:100%;border-radius:10px;border:none;font-weight:700;padding:.5rem 0}
@media screen and (max-width:1200px){
.connect-btn{width:90%}
}
@media screen and (max-width:768px){
	.top-holder{text-align:center}
	.logo-holder,
	.social-holder{justify-content:center!important}
	.logo-holder{margin-bottom:1rem}
	.top-text{font-size:1.2rem}
	.main-box{margin-bottom:1rem}
}
@media screen and (max-width:580px){
	.info-holder.left{width:70%}
	.info-holder.right{width:25%}
	.top-text{font-size:1rem}
	.box-text{font-size:1.2rem}
}
.list-holder{min-height:214px;max-height:100%; width:100%; overflow-x:scroll;}
.list-holder::-webkit-scrollbar{width: 10px;}
.list-holder::-webkit-scrollbar-corner{display: none;}
.list-holder::-webkit-scrollbar-thumb{background: #555;border-radius: 3px;}
.list-holder::-webkit-scrollbar-thumb:hover{background: #fff}
.list-holder{-ms-overflow-style:none;scrollbar-width:1px; }
/*# sourceMappingURL=main.00cc3d8a.chunk.css.map */
